@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-[#f9fafb] text-primary font-sans;
    min-height: 100vh;
    color: #fafafa; /* záloha, kdyby Tailwind neaplikoval správně */
    overflow-x: hidden;
}

body, html {
    background: #f9fafb;
    min-height: 100vh;
    color: #082f49;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    z-index: 1;
}

.hero_circle {
    z-index: -1;
}