@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background: #f1f5f9;
    min-height: 100vh;
}

pre {
    background: #0f172a;
    padding: 16px;
    color: #cbd5e1;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
}

@media print {
    .no-print {
        display: none;
    }
}

.apexcharts-datalabel {
    fill: #111827;
    font-weight: 100;
}

.apexcharts-tooltip {
    background: #f3f3f3;
    color: #111827;
}