@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-[#f9fafb] text-primary font-default;
    min-height: 100vh;
    overflow-x: hidden;
    background: #f9fafb;
    color: #082f49;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    z-index: 1;
}

.hero_circle {
    z-index: -1;
}

footer{
    ul{
        list-style: none;
        padding-left: 0px;
    }
}

body {
    padding: 12px;
}