@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-[#f9fafb] text-primary font-sans;
    min-height: 100vh;
    color: #fafafa; /* záloha, kdyby Tailwind neaplikoval správně */
    overflow-x: hidden;
}

body, html {
    background: #f9fafb;
    min-height: 100vh;
    color: #082f49;
}

* {
    box-sizing: border-box;
    z-index: 1;
}

.hero_circle {
    z-index: -1;
}

h1{
    @apply text-[28px] font-semibold lg:text-[44px] xl:text-[64px] mb-8 text-textBlack;
}

h2 {
    @apply text-[24px] font-semibold lg:text-[36px] xl:text-4xl mb-4 text-textBlack;
}
footer{
    ul{
        list-style: none;
        padding-left: 0px;
    }
}
